body{
	background:#F5F6FA;
}
header{
	width:100%;
	overflow:hidden;
}
header .zt{
	width:100%;
	height:0.4rem;
	overflow:hidden;
}
header .zt>img{
	width:100%;
	height:0.4rem;
}
.banner{
	width:100%;
	height:1.02rem;
	background:#0078E6;
	line-height: 1.02rem;
	text-align: center;
	display:flex;
	justify-content: center;
	align-items: center;
}
.banner>span{
	display:block;
	color:#FFFFFF;
	font-size:0.37rem;
}
.banner>img{
	width:0.72rem;
	height:0.7rem;
}
.picture{
	width:100%;
	/*height:auto;*/
	/*overflow:hidden;*/
}
.picture>img{
	width:100%;
	height:2.8rem;
}
/*导航*/
.main-nav{
	width:93.6%;
	overflow:hidden;
	margin:auto;
}
.main-nav>ul{
	width:100%;
	overflow:hidden;
	border:0.02rem solid #01B5FF;
	border-radius:6%;
}
.main-nav>ul>li{
	width:33.33%;
	float:left;
}
.main-nav>ul>li:first-child{
	background:#01B5FF;
	border-radius:6%;
	position:relative;
}
.main-nav .item{
	width:0rem;
	border-top:0.2rem solid #01B5FF;
	border-left:0.1rem solid rgba(0,0,0,0);
	border-right:0.1rem solid rgba(0,0,0,0);
	/*float:left;*/
	transform:translate(1.05rem,-0.01rem);
}
.main-nav>ul>li>a{
	width:100%;
	display:block;
	height:0.8rem;
	text-align: center;
	line-height:0.8rem;
	font-size:0.27rem;
	color:#000000;
}
.main-nav .span{
	color:white;
}
/*第一层*/
.floor1{
	width:100%;
	height:0.8rem;
	line-height: 0.8rem;
}
.floor1>span{
	font-size:0.22rem;
	font-weight:bolder;
	color:#494747;
	padding-left:0.24rem;
}
.floor1>span a{
	color:#494747;
}
/*第二层*/
.floor2{
	width:7.04rem;
	height:auto;
	background:#fff;
	margin:auto;
	display:flex;
	align-items: center;
	margin-bottom:0.1rem;
	margin-top:0.1rem;
	padding:0.1rem 0;
}
.floor2>.imgbox{
	width:2.32rem;
	height:2.32rem;
	background:#C8C8C8;
	float:left;
	margin-left:0.3rem;
	overflow:hidden;
}
.floor2>.textbox{
	margin-left:0.3rem;
}
.floor2>.textbox .fg{
	width:1.07rem;
	border-bottom:0.01rem dashed #494747;
}
.floor2>.textbox span:nth-child(1){
	font-size:0.26rem;
	font-weight:bold;
	color:#444444;
	display:inline-block;
	margin-bottom: 0.1rem;
	margin-top:0.3rem;
}
.floor2>.textbox .span{
	font-size:0.26rem;
	margin-left:1.5rem;
	
	
}
.floor2>.textbox a{
	color:#FF9300;
}
.floor2>.textbox .span1{
	display:block;
	color:#01B5FF;
	font-size:0.25rem;
	margin-top:0.1rem;
}
.floor2>.textbox span:nth-child(5){
	display:block;
	color:#666666;
	font-size:0.25rem;
	margin-top:0.1rem;
}
.nav{
	width:100%;
	height:0.7rem;
	background:#fff;
	display:flex;
	align-items: center;
}
.nav .item1{
	width:0.58rem;
	height:0.31rem;
	border:0.01rem solid #CCCCCC;
	border-radius:45%;
	display:flex;
	align-items: center;
	justify-content: center;
}
.nav .item1:first-child{
	margin-left:0.38rem;
	margin-right:0.16rem;
}
.nav .item1>.item1-son{
	width:0.5rem;
	height:0.25rem;
	border:0.01rem solid #393939;
	border-radius:45%;
	background:#fff;
	line-height: 0.25rem;
	text-align:center;
}
.nav .item1>.item1-son>span{
	font-size:0.2rem;
}
.nav>ul{
	display:flex;
	align-items: center;
	justify-content: center;
}
.nav>ul>li{
	float:left;
	width:0.32rem;
	height:0.32rem;
	border:0.01rem solid #CCCCCC;
	border-radius:50%;
	display:flex;
	align-items: center;
	justify-content: center;
	margin-right:0.15rem;
}
.nav>ul .xz{
	background: #01B5FF;
	box-shadow: 0.01rem 0.01rem 0.1rem 0.01rem #01B5FF;
}
.nav>ul .xz .yuan{
	background: #01B5FF ;
	border:0.01rem solid #fff;
}
.nav>ul>li>a>.yuan{
	width:0.24rem;
	height:0.24rem;
	border:0.01rem solid #393939;
	border-radius:50%;
	background:#fff;
	line-height: 0.25rem;
	text-align:center;
	color:#585858;
}
.nav>ul>li:nth-child(6){
	border:0rem;
	font-size:0.2rem;
	color:#393939;
	transform:translateY(-0.05rem);
	margin-right:0.1rem;
}
.nav>ul>li:nth-child(9){
	width:auto;
	border:0rem;
	font-size:0.16rem;
	color:#393939;
	transform:translateY(-0.01rem);
	margin-left:0.4rem;
	margin-right:0rem;
}
.nav>ul>li:nth-child(11){
	width:auto;
	border:0rem;
	font-size:0.16rem;
	color:#393939;
	transform:translateY(-0.01rem);
}
footer{
	width:100%;
	height:0.9rem;
	/*line-height:0.9rem;*/
	text-align:center;
}
footer span{
	display:block;
	font-size:0.18rem;
	color:#666666;
}
footer span:first-child{
	margin-top:0.18rem;
}

