body,html{
	width:100%;
	height:100%;
}
body{
	overflow:scroll;
}
html{
	position:relative;
	overflow:hidden;
}
.banner{
	width:100%;
	height:1.02rem;
	background:#0078E6;
	line-height: 1.02rem;
	text-align: center;
	display:flex;
	justify-content: center;
	align-items: center;
	position:absolute;
	top:0rem;
	left:0rem;
}
.box{
	width:100%;
	height:1.02rem;
}
.banner>span{
	display:block;
	color:#FFFFFF;
	font-size:0.37rem;
}
.banner>img{
	width:0.72rem;
}
.picture{
	width:100%;
}
.picture>img{
	width:100%;
	height:2.8rem;
}
/*第一层*/
.content{
	background:#F5F6FA;
}
.floor1{
	width:100%;
	height:0.8rem;
	line-height: 0.8rem;
}
.floor1>span{
	font-size:0.22rem;
	font-weight:bolder;
	color:#494747;
	padding-left:0.24rem;
}
.floor1>span>a{
	color:#494747;
}
/*第二层*/
.floor2{
	width:93.8%;
	height:auto;
	background:#fff;
	margin:auto;
	overflow:hidden;
	margin-bottom:0.1rem;
}
.title{
	width:100%;
	overflow:hidden;
}
.title>.mark{
	width:5%;
	height:0.68rem;
	display:flex;
	align-items: center;
	float:left;
}
.lg{
	width:0.06rem;
	height:0.22rem;
	background:#01B5FF;
	margin-left: 44%;
}
.title>.text{
	width:93%;
	height:0.68rem;
	line-height:0.68rem;
	text-align: left;
	float:left;
	font-size:0.23rem;
	font-weight:bold;
	color:#444444;
	border-bottom:0.01rem dashed #999999;
}
.floor2 p{
	font-size:0.24rem;
	color:#666666;
	padding-top: 0.16rem;
	padding-left:0.3rem;
	padding-right:0.13rem;
	word-break: break-all;
}
.floor2 p>span{
	color:#01B5FF;
}
/*第三层*/
.floor3{
	width:100%;
	/*height:2.29rem;*/
	background:#fff;
	margin:auto;
	overflow:hidden;
	margin-bottom:0.1rem;
	padding:0.25rem 0.25rem 0.33rem 0.25rem;
	display:flex;
	align-content: space-around;
}
.floor3>figure{
	width:33.3%;
	/*height:1.65rem;*/
	/*background:red;*/
	/*flex-grow:0;*/
	text-align: center;
}
.floor3>figure>img{
	width:90%;
	height:auto;
}
.floor3>figure>figcaption{
	font-size:0.24rem;
	color:#000000;
	padding-top:0.11rem;
}
/*第四层*/
.floor2 figure{
	width:100%;
	height:auto;
	overflow:hidden;
	text-align: center;
	padding-top: 0.37rem;
}
.floor2 figure>img{
	width:95%;
	height:auto;
}
.floor2>figure>figcaption{
	font-size:0.25rem;
	color:#000000;
	padding-top:0.11rem;
}
.floor2>ul{
	overflow:hidden;
	padding-left:0.3rem;
}
.floor2>ul>li{
	/*width:100%;*/
	/*height:0.58rem;*/
	overflow:hidden;
	/*background:red;*/
}
.floor2>ul>li:first-child{
	margin-top: 0.2rem;
}
.floor2>ul>li>a>img{
	float:left;
}
.floor2>ul>li>a>span:nth-of-type(1){
	font-size:0.22rem;
	color:#01B5FF;
	padding-left: 0.2rem;
	float:left;
	display:block;
}
.floor2>ul>li>a span:nth-of-type(2){
	font-size:0.18rem;
	color:#3E3A39;
	/*padding-left:0.22rem;*/
	float:left;
	/*display:block;*/
	padding-top:0.35rem;
	transform:translate(-1.54rem,-0.15rem);
}
.floor2>ul>li:nth-child(3)>a>span:nth-of-type(2),.floor2>ul>li:nth-child(6)>a>span:nth-of-type(2){
	transform:translate(-1.1rem,-0.15rem);
}
/*第6层*/
.floor6{
	width:100%;
	/*height:2.29rem;*/
	background:#fff;
	margin:auto;
	overflow:hidden;
	margin-bottom:0.1rem;
	padding:0.25rem 0.25rem 0.33rem 0.25rem;
}
.floor6 ul li:first-child{
	width:100%;
	overflow:hidden;
	padding-top: 0.25rem;
}
.floor6 ul li:first-child dl dt{
	float:left;
	font-size:0.24rem;
	color:#000000;
	text-align: center;
	/*background: red;*/
}
.floor6 ul li:first-child dl dt:first-child{
	padding-left:0.4rem;
}
.floor6 ul li:first-child dl dt:nth-child(2){
	padding-left:1.04rem;
}
.floor6 ul li:first-child dl dt:nth-child(3){
	padding-left:2.2rem;
}
.floor6 ul li:nth-child(2){
	width:100%;
	overflow:hidden;
	position:relative;
}
.floor6 ul li:nth-child(2) span{
	display:block;
	z-index: 100;
	width:0.2rem;
	height:0.2rem;
	background:red;
	border-radius:50%;
	position:absolute;
	left:0rem;
}
.floor6 ul li:nth-child(2) dl{
	width:100%;
	overflow:hidden;
	border-left:0.01rem dashed #01B5FF;
	margin-top: 0.25rem;
}
.floor6 ul li:nth-child(2) dl dt{
	color:#666666;
	font-size: 0.22rem;
	float:left;
}
.floor6 ul li:nth-child(2) dl dt:first-child{
	padding-left: 0.3rem;
}
.floor6 ul li:nth-child(2) dl dt:nth-child(2){
	padding-left: 0.6rem;
	color:#FFA927;
}
.floor6 ul li:nth-child(2) dl dt:nth-child(3){
	padding-left: 0.5rem;
}

.nav{
	width:100%;
	height:0.7rem;
	background:#fff;
	display:flex;
	align-items: center;
}
.nav .item1{
	width:0.58rem;
	height:0.31rem;
	border:0.01rem solid #CCCCCC;
	border-radius:0.45rem;
	display:flex;
	align-items: center;
	justify-content: center;
}
.nav .item1:first-child{
	margin-left:0.15rem;
	margin-right:0.16rem;
}
.nav .item1>.item1-son{
	width:0.5rem;
	height:0.25rem;
	border:0.01rem solid #393939;
	border-radius:0.45rem;
	background:#fff;
	line-height: 0.25rem;
	text-align:center;
}
.nav .item1>.item1-son>span{
	font-size:0.2rem;
}
.nav>ul{
	display:flex;
	align-items: center;
	justify-content: center;
}
.nav>ul>li{
	float:left;
	width:0.32rem;
	height:0.32rem;
	border:0.01rem solid #CCCCCC;
	border-radius:50%;
	display:flex;
	align-items: center;
	justify-content: center;
	margin-right:0.15rem;
}
.nav>ul .xz{
	background: #01B5FF;
	box-shadow: 0.01rem 0.01rem 0.1rem 0.01rem #01B5FF;
}
.nav>ul .xz .yuan{
	background: #01B5FF ;
	border:0.01rem solid #fff;
	font-size:0.12rem;
}
.nav>ul>li>a>.yuan{
	width:0.24rem;
	height:0.24rem;
	border:0.01rem solid #393939;
	border-radius:50%;
	background:#fff;
	line-height: 0.25rem;
	text-align:center;
	color:#585858;
	font-size:0.12rem;
}
.nav>ul>li:nth-child(6){
	border:0rem;
	font-size:0.2rem;
	color:#393939;
	transform:translateY(-0.05rem);
	margin-right:0.1rem;
}
.nav>ul>li:nth-child(9){
	width:auto;
	border:0rem;
	font-size:0.16rem;
	color:#393939;
	transform:translateY(-0.01rem);
	margin-left:0.4rem;
	margin-right:0rem;
}
.nav>ul>li:nth-child(11){
	width:auto;
	border:0rem;
	font-size:0.16rem;
	color:#393939;
	transform:translateY(-0.01rem);
}
.img{
	width:100%;
	overflow:hidden;
	text-align: center;
}
.img img{
	padding:0.36rem 0rem;
}
footer{
	width:100%;
	height:0.9rem;
	text-align:center;
}
footer span{
	display:block;
	font-size:0.18rem;
	color:#666666;
}
